<div style="text-align: center;">
  <mat-form-field appearance="fill">
    <mat-label>Enter your text</mat-label>
    <input matInput [(ngModel)]="textInput">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="submitText()">Submit</button>

  <div *ngFor="let group of ['1k', '2k', '3k']">
      <div style="display: flex; justify-content: space-between;">
        <!-- Function Words Table -->
        <div style="flex: 1; padding: 10px;">
          <h2>{{group}} Function Words</h2>
          <table mat-table [dataSource]="getDataSource(group, 'Function')" class="mat-elevation-z8">
            <ng-container matColumnDef="word">
              <th mat-header-cell *matHeaderCellDef> Word </th>
              <td mat-cell *matCellDef="let element"> {{element.word}} </td>
            </ng-container>
            <ng-container matColumnDef="pos">
              <th mat-header-cell *matHeaderCellDef> Part of Speech </th>
              <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      
        <!-- Content Words Table -->
        <div style="flex: 1; padding: 10px;">
          <h2>{{group}} Content Words</h2>
          <table mat-table [dataSource]="getDataSource(group, 'Content')" class="mat-elevation-z8">
            <ng-container matColumnDef="word">
              <th mat-header-cell *matHeaderCellDef> Word </th>
              <td mat-cell *matCellDef="let element"> {{element.word}} </td>
            </ng-container>
            <ng-container matColumnDef="pos">
              <th mat-header-cell *matHeaderCellDef> Part of Speech </th>
              <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
  </div>
</div>
